<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,600&family=Pacifico&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="formulario">

        <h1>Agendas
            <br>CondeCar
        </h1>
        
        <div th:if="${param.error}" class="alert-danger">Invalid email & Password</div>

        <div th:if="${param.logout}" class="alert-success">Logout successfully</div>

        <form action="/login" method="post">

            <div class="form-field">
                <input type="text" name="username" placeholder="Email">
                <i class='bx bxs-envelope'></i>
            </div>

            <div class="form-field">
                <input type="password" name="password" placeholder="Password">
                <i class='bx bxs-lock'></i>
            </div>

            <a class="form" href="">Forgot password?</a>

            <div class="buttons-container">
                <button>Login</button>
                <button><a href="Register">Sign Up</a></button>
            </div>
        </form>
    </div>

</body>

</html>